.dbr {
	border: solid 1px #222;
	margin: 1em auto;
	vertical-align: middle;
}

.dbr_icon {
	float: left;
	vertical-align: middle;
}
.post-content .dbr_icon img {
	border: none;
	padding: 0.7em;
}
.dbr_message {
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
	padding: 0.7em;
}
